/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #0077cc;
    border-bottom: 2px solid #0077cc;
  }
  
  
  header h1 {
    font-size: 32px;
    color: #e5e7e8;
      margin-left: 20px;
    transition: all 0.3s ease;
  }
  
  header h1:hover {
    transform: scale(1.1);
  }
  
  /* Navbar Styles */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #0077cc;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: black;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: #005ea6;
  }
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  nav .logo img {
    height: 40px;
    margin-right: 10px;
  }
  
  nav .logo h1 {
    font-size: 24px;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease;
  }
  
  nav .logo h1:hover {
    transform: scale(1.1);
  }
  
  
  
  /* Article Styles */
  article {
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  article:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  article h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: red;
    transition: all 0.3s ease;
  }
  
  article h2:hover {
    color: #005ea6;
  }
  
  article a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  article a:hover {
    background-color: #005ea6;
    transform: translateY(-2px);
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: #0077cc;
    color: #140b0b;
  }
  
  footer p {
    margin: 0;
    transition: all 0.3s ease;
  }
  
  footer p:hover {
    transform: scale(1.1);
  }